*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: aqua;
    margin: 0;
}
.navbarLinks{
    position: absolute;
    right: 0;
    color: white;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 5px;
}
.navbarLinks a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}
.navbarLinks li:hover{
    background-color: hsl(175, 92%, 35%);
}